@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
//Colors
$primaryColor : #402471;
$secondaryColor:#F41484;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

//Components 

@import './components/header.scss';
@import './components/footer.scss';


//Pages
@import './pages/login.scss';
@import './pages/contactUs.scss';
@import './pages/aboutUs.scss';
@import './pages/signup.scss';
@import './pages/home.scss';
@import './pages/forgetPassword.scss';
@import './pages/otp.scss';
@import './pages/newPassword.scss';


//Pages
// @import './pages/login.scss';
